# 数据库配置
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=apple
DB_NAME=nuxt_todo_app

# 本地开发环境示例
# DB_HOST=localhost
# DB_USER=root
# DB_PASSWORD=apple
# DB_NAME=nuxt_todo_app

# 生产环境示例
# DB_HOST=your-production-host
# DB_USER=your-production-user
# DB_PASSWORD=your-production-password
# DB_NAME=your-production-database